.formContainer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: white;
    border-radius: 5px;
}

.buttonsContainer {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.pageTitle {
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 19px;
    color: #343333;
}

.pageSubtitle {
    max-width: 425px;
    font-size: 27px;
}

.changePasswordTextContainer {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.changePasswordTextLink {
    text-decoration: none;
    color: grey;
    transition: color 0.3s ease;
}

.changePasswordTextLink:hover {
    color: var(--mui-primary-color); /* или задай вручную нужный цвет */
}
